<div class="container">
    <div class="dialogue-box" (click)="$event.stopPropagation()">
        <div class="header">
            <h2> Enter value to track DIV </h2>
            <span class="material-symbols-outlined close-style" (click)="closeDialogueBox()">close</span>
        </div>
            <div class="form-style">
                <label for="valueX">Enter the X-value</label>
                <input type="number" #valueX>
                <label for="valueY">Enter the Y-value</label>
                <input type="number" #valueY>
                <button type="submit" class="btn-style"(click)='takeValue()' >submit</button>
            </div>
            <div class='notify-style'>
                <p #renderErrorValue></p>
            </div>
    </div>
</div>
